
    <main class="catalogue-main">
        <article class="catalogue-article">
            <h3 class="catalogue-title">Catalog</h3>
            <div class="catalogue-main-div">
            <ul class="catalogue-list">
                <li class="catalogue-list-item">
                    <img src="../src/images/catalog-watch1.png" alt="firstwatch" class="catalogue-watch-image">
                    <p class="catalogue-item-paragraph">Tube Watch S42 Date Steel With Black Case</p>
                    <span class="catalogue-span">&euro 395</span>
                    <div class="catalogue-card-back">
                    <div class="catalogue-card-back-content">
                    <h3 class="card-back-title-one">DESCRIPTION</h3>
                    <p class="catalogue-card-back-paragraph">
                    Richly detailed with an<br> 
                    understated design - the Police<br>
                    Men's Greenlane watch.
                    </p>
                    <h3 class="card-back-title-two">DETAILS & FEATURES</h3>
                    <p>
                    Gender: man<br>
                    Size: 46x54.5mm<br>
                    Case Colour: Steel<br>
                    Band Material: Metal<br>
                    Case Material: Metal<br>
                    Features: Multifunction<br>
                    Water Resistant: 5 ATM<br>
                    Band Colour: Steel
                    </p>
                    </div>
                    </div>
                </li>
                <li class="catalogue-list-item">
                    <img src="../src/images/catalog-watch2.png" alt="secondwatch" class="catalogue-watch-image">
                    <p class="catalogue-item-paragraph">Avondale Watch Police For Men</p>
                    <span class="catalogue-span">&euro 800</span>
                    <div class="catalogue-card-back">
                    <div class="catalogue-card-back-content">
                    <h3 class="card-back-title-one">DESCRIPTION</h3>
                    <p class="catalogue-card-back-paragraph">
                    Richly detailed with an<br> 
                    understated design - the Police<br>
                    Men's Greenlane watch.
                    </p>
                    <h3 class="card-back-title-two">DETAILS & FEATURES</h3>
                    <p>
                    Gender: man<br>
                    Size: 46x54.5mm<br>
                    Case Colour: Steel<br>
                    Band Material: Metal<br>
                    Case Material: Metal<br>
                    Features: Multifunction<br>
                    Water Resistant: 5 ATM<br>
                    Band Colour: Steel
                    </p>
                    </div>
                    </div>
                </li>
                <li class="catalogue-list-item">
                    <img src="../src/images/catalog-watch3.png" alt="thirdwatch" class="catalogue-watch-image">
                    <p class="catalogue-item-paragraph">Diver 300M Co‑Axial Master Chronometer Chronograph</p>
                    <span class="catalogue-span">&euro 600</span>
                    <div class="catalogue-card-back">
                        <div class="catalogue-card-back-content">
                        <h3 class="card-back-title-one">DESCRIPTION</h3>
                        <p class="catalogue-card-back-paragraph">
                        Richly detailed with an<br> 
                        understated design - the Police<br>
                        Men's Greenlane watch.
                        </p>
                        <h3 class="card-back-title-two">DETAILS & FEATURES</h3>
                        <p>
                        Gender: man<br>
                        Size: 46x54.5mm<br>
                        Case Colour: Steel<br>
                        Band Material: Metal<br>
                        Case Material: Metal<br>
                        Features: Multifunction<br>
                        Water Resistant: 5 ATM<br>
                        Band Colour: Steel 
                        </p>
                        </div>
                        </div>
                </li>
                <li class="catalogue-list-item">
                    <img src="../src/images/catalog-watch4.png" alt="fourthwach" class="catalogue-watch-image">
                    <p class="catalogue-item-paragraph">Diver 300M Co-Axial Master Chronometer</p>
                    <span class="catalogue-span">&euro 1400</span>
                    <div class="catalogue-card-back">
                        <div class="catalogue-card-back-content">
                        <h3 class="card-back-title-one">DESCRIPTION</h3>
                        <p class="catalogue-card-back-paragraph">
                        Richly detailed with an<br> 
                        understated design - the Police<br>
                        Men's Greenlane watch.
                        </p>
                        <h3 class="card-back-title-two">DETAILS & FEATURES</h3>
                        <p>
                        Gender: man<br>
                        Size: 46x54.5mm<br>
                        Case Colour: Steel<br>
                        Band Material: Metal<br>
                        Case Material: Metal<br>
                        Features: Multifunction<br>
                        Water Resistant: 5 ATM<br>
                        Band Colour: Steel 
                        </p>
                        </div>
                        </div>
                </li>
                <li class="catalogue-list-item">
                    <img src="../src/images/catalog-watch5.png" alt="fifthwatch" class="catalogue-watch-image">
                    <p class="catalogue-item-paragraph">Taman Watch By Police For Men</p>
                    <span class="catalogue-span">&euro 500</span>
                    <div class="catalogue-card-back">
                        <div class="catalogue-card-back-content">
                        <h3 class="card-back-title-one">DESCRIPTION</h3>
                        <p class="catalogue-card-back-paragraph">
                        Richly detailed with an<br> 
                        understated design - the Police<br>
                        Men's Greenlane watch.
                        </p>
                        <h3 class="card-back-title-two">DETAILS & FEATURES</h3>
                        <p>
                        Gender: man<br>
                        Size: 46x54.5mm<br>
                        Case Colour: Steel<br>
                        Band Material: Metal<br>
                        Case Material: Metal<br>
                        Features: Multifunction<br>
                        Water Resistant: 5 ATM<br>
                        Band Colour: Steel 
                        </p>
                        </div>
                        </div>
                </li>
                <li class="catalogue-list-item">
                    <img src="../src/images/catalog-watch6.png" alt="sixthwatch" class="catalogue-watch-image">
                    <p class="catalogue-item-paragraph">Malawi Watch Police For Men</p>
                    <span class="catalogue-span">&euro 555</span>
                    <div class="catalogue-card-back">
                        <div class="catalogue-card-back-content">
                        <h3 class="card-back-title-one">DESCRIPTION</h3>
                        <p class="catalogue-card-back-paragraph">
                        Richly detailed with an<br> 
                        understated design - the Police<br>
                        Men's Greenlane watch.
                        </p>
                        <h3 class="card-back-title-two">DETAILS & FEATURES</h3>
                        <p>
                        Gender: man<br>
                        Size: 46x54.5mm<br>
                        Case Colour: Steel<br>
                        Band Material: Metal<br>
                        Case Material: Metal<br>
                        Features: Multifunction<br>
                        Water Resistant: 5 ATM<br>
                        Band Colour: Steel 
                        </p>
                        </div>
                        </div>
                </li>
                <li class="catalogue-list-item">
                    <img src="../src/images/catalog-watch7.png" alt="seventhwatch" class="catalogue-watch-image">
                    <p class="catalogue-item-paragraph">Diver 300M Co-Axial Master Chronometer</p>
                    <span class="catalogue-span">&euro 1200</span>
                    <div class="catalogue-card-back">
                        <div class="catalogue-card-back-content">
                        <h3 class="card-back-title-one">DESCRIPTION</h3>
                        <p class="catalogue-card-back-paragraph">
                        Richly detailed with an<br> 
                        understated design - the Police<br>
                        Men's Greenlane watch.
                        </p>
                        <h3 class="card-back-title-two">DETAILS & FEATURES</h3>
                        <p>
                        Gender: man<br>
                        Size: 46x54.5mm<br>
                        Case Colour: Steel<br>
                        Band Material: Metal<br>
                        Case Material: Metal<br>
                        Features: Multifunction<br>
                        Water Resistant: 5 ATM<br>
                        Band Colour: Steel  
                        </p>
                        </div>
                        </div>
                </li>
                <li class="catalogue-list-item">
                    <img src="../src/images/catalog-watch8.png" alt="eighthwatch" class="catalogue-watch-image">
                    <p class="catalogue-item-paragraph">Greenlane Watch By Police For Men</p>
                    <span class="catalogue-span">&euro 1000</span>
                    <div class="catalogue-card-back">
                        <div class="catalogue-card-back-content">
                        <h3 class="card-back-title-one">DESCRIPTION</h3>
                        <p class="catalogue-card-back-paragraph">
                        Richly detailed with an<br> 
                        understated design - the Police<br>
                        Men's Greenlane watch.
                        </p>
                        <h3 class="card-back-title-two">DETAILS&FEATURES</h3>
                        <p>
                        Gender: man<br>
                        Size: 46x54.5mm<br>
                        Case Colour: Steel<br>
                        Band Material: Metal<br>
                        Case Material: Metal<br>
                        Features: Multifunction<br>
                        Water Resistant: 5 ATM<br>
                        Band Colour: Steel
                        </p>
                        </div>
                        </div>
                </li>
                <li class="catalogue-list-item">
                    <img src="../src/images/catalog-watch9.png" alt="ninthwatch" class="catalogue-watch-image">
                    <p class="catalogue-item-paragraph">Greenlane Watch By Police For Men</p>
                    <span class="catalogue-span">&euro 395</span>
                    <div class="catalogue-card-back">
                        <div class="catalogue-card-back-content">
                        <h3 class="card-back-title-one">DESCRIPTION</h3>
                        <p class="catalogue-card-back-paragraph">
                        Richly detailed with an<br> 
                        understated design - the Police<br>
                        Men's Greenlane watch.
                        </p>
                        <h3 class="card-back-title-two">DETAILS & FEATURES</h3>
                        <p>
                        Gender: man<br>
                        Size: 46x54.5mm<br>
                        Case Colour: Steel<br>
                        Band Material: Metal<br>
                        Case Material: Metal<br>
                        Features: Multifunction<br>
                        Water Resistant: 5 ATM<br>
                        Band Colour: Steel
                        </p>
                        </div>
                        </div>
                </li>
                <li class="catalogue-list-item">
                    <img src="../src/images/catalog-watch10.png" alt="tenthwatch" class="catalogue-watch-image">
                    <p class="catalogue-item-paragraph">Diver 300M Co‑Axial Master Chronometer Chronograph</p>
                    <span class="catalogue-span">&euro 400</span>
                    <div class="catalogue-card-back">
                        <div class="catalogue-card-back-content">
                        <h3 class="card-back-title-one">DESCRIPTION</h3>
                        <p class="catalogue-card-back-paragraph">
                        Richly detailed with an<br> 
                        understated design - the Police<br>
                        Men's Greenlane watch.
                        </p>
                        <h3 class="card-back-title-two">DETAILS & FEATURES</h3>
                        <p>
                        Gender: man<br>
                        Size: 46x54.5mm<br>
                        Case Colour: Steel<br>
                        Band Material: Metal<br>
                        Case Material: Metal<br>
                        Features: Multifunction<br>
                        Water Resistant: 5 ATM<br>
                        Band Colour: Steel
                        </p>
                        </div>
                        </div>
                </li>
                <li class="catalogue-list-item">
                    <img src="../src/images/catalog-watch11.png" alt="eleventhwatch" class="catalogue-watch-image">
                    <p class="catalogue-item-paragraph">Citizen</p>
                    <span class="catalogue-span">&euro 519</span>
                    <div class="catalogue-card-back">
                        <div class="catalogue-card-back-content">
                        <h3 class="card-back-title-one">DESCRIPTION</h3>
                        <p class="catalogue-card-back-paragraph">
                        Richly detailed with an<br> 
                        understated design - the Police<br>
                        Men's Greenlane watch.
                        </p>
                        <h3 class="card-back-title-two">DETAILS & FEATURES</h3>
                        <p>
                        Gender: man<br>
                        Size: 46x54.5mm<br>
                        Case Colour: Steel<br>
                        Band Material: Metal<br>
                        Case Material: Metal<br>
                        Features: Multifunction<br>
                        Water Resistant: 5 ATM<br>
                        Band Colour: Steel
                        </p>
                        </div>
                        </div>
                </li>
                <li class="catalogue-list-item">
                    <img src="../src/images/catalog-watch12.png" alt="twelfthwatch" class="catalogue-watch-image">
                    <p class="catalogue-item-paragraph">Armani Exchange</p>
                    <span class="catalogue-span">&euro 400</span>
                    <div class="catalogue-card-back">
                        <div class="catalogue-card-back-content">
                        <h3 class="card-back-title-one">DESCRIPTION</h3>
                        <p class="catalogue-card-back-paragraph">
                        Richly detailed with an<br> 
                        understated design - the Police<br>
                        Men's Greenlane watch.
                        </p>
                        <h3 class="card-back-title-two">DETAILS & FEATURES</h3>
                        <p>
                        Gender: man<br>
                        Size: 46x54.5mm<br>
                        Case Colour: Steel<br>
                        Band Material: Metal<br>
                        Case Material: Metal<br>
                        Features: Multifunction<br>
                        Water Resistant: 5 ATM<br>
                        Band Colour: Steel  
                        </p>
                        </div>
                        </div>
            </ul>
            <div class="modal-catalogue-button">
            <button data-modal-open class="catalogue-order-button">
            BUY NOW
            </button>
            </div>
            </div>
        </article>
    </main>