<section data-modal  class="modal-window-catalogue">
    
    <!-- Aici e fereastra din stanga, care arata in mod reactiv produsul ales -->
    
    <div class="selected-product">

    </div>

    
<div class="modal-window-close-button">
<button data-modal-close type="button"></button>
</div>

<!-- butonul de inchidere a ferestrei modal este pus intr-o clasa separata -->

<div class="personal-details-section">
    <div class="personal-details-div">
        <form class="buy-product">
            <label class="details-label" for="">
            Full name
            <div class="input-container">
            <input type="text" class="details-input" placeholder="Enter your full name">
            </div>
            </label>
            <label class="details-label" for="">
            Email
            <div class="input-container">
            <input type="text" class="details-input" placeholder="Enter your email">
            </div>
            </label>
            <label for="" class="details-label">
            Card number
            <div class="input-container">
            <input type="text" class="details-input" placeholder="Enter card">
            </div>
            </label>
            <label class="details-label" for="">
            Comments
            <textarea name="" id="" cols="30" rows="10"></textarea>
            </label>
            <div class="submit-modal-button">
                <button type="button">SUBMIT</button>
                <p class="consent-modal-button">
                    By clicking on "Submit" button, you agree to our <a href="">Privacy Policy</a>,<br>
                    and allow Promodo to use this information for marketing purposes.
                </p>
            </div>
        </form>
    </div>

</div>
</section>