<section class="newwatches">
    <div>
    <div>
        <h2>New watches</h2>
        <p>Green And Bronze—The Match Made In Heaven</p>
    </div>
    <div>
        <ul>
            <li>
                <picture>
                    <source srcset="./images/green-desktop.png 1x,./images/green-desktop@x2.png 2x" media="(min-width: 1280px)">

                    <source srcset="./images/green-tablet.png 1x,./images/green-tablet@x2.png 2x" media="(min-width: 768px)">

                    <source srcset="./images/green-mobile.png 1x,./images/green-mobile@x2.png 2x" media="(max-width: 767px)">

                    <img src="./images/green-mobile.png" alt="new-photo-1" class="new-img" loading="lazy">
                </picture>
            </li>
            <li>
                <picture>
                    <source srcset="./images/bronze-desktop.png 1x,./images/bronze-desktop@x2.png 2x" media="(min-width: 1280px)">

                    <source srcset="./images/bronze-tablet.png 1x,./images/bronze-tablet@x2.png 2x" media="(min-width: 768px)">

                    <source srcset="./images/bronze-mobile.png 1x,./images/bronze-mobile@x2.png 2x" media="(max-width: 767px)">

                    <img src="./images/bronze-mobile.png" alt="new-photo-2" class="new-img" loading="lazy">
                </picture>
            </li>
        </ul>
    </div>
</div>
</section>